@import '../../styles/variables';

.modal {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 600px;
    width: 700px;
    background-color: $lighter-grey;
    top: 40px;
    left: 25%;
    border-radius: 5px;
}