@import '../../styles/variables';

.add-column {
    width: 250px;
    height: 75px;
    border-radius: 5px;
    background-color: #dfe1e6;
    padding:  5px;
    margin: 6px;
    color: #637188;
    font-weight: 700;

    .input {
        margin-left: 4px;
        padding: 0px 5px;
    }
}