@import '../../styles/variables';

.board-header {
    width: 100%;
    height: 50px;
    background-color: #0000001e;
    display: flex;
    justify-content: space-between;

    .transparent-button {
        color: $white;

        &:nth-of-type(1) {
            margin-left: 10px;
        }
    }
}