@import '../../styles/variables';

.add-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 5px 5px 5px;
    border-radius: 5px;
    color: #637188;
    font-weight: 500;
    border: none;
}

.card-p {
    margin-left: 10px;
}

textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    font-family: inherit;
    resize: none;
    outline: none;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px #494949a4;
    min-height: 50px;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    height: auto;
    color: $dark-grey;
}

.add-card-buttons {
    display: flex;
    margin-bottom: 10px;
}